*{
box-sizing: border-box;
}

body{
    background-color: #fafafa;
}

main{
   display: flex;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 70px;
    padding: 40px;
    border: 0.5px solid #e9ebf0;
}